name: Pull Request

on:
  pull_request:

concurrency:
  cancel-in-progress: true
  group: ${{ github.ref }}

jobs:
  test:
    if: ${{ !contains(github.head_ref, 'release-please-') }}
    name: Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22, 24]

    steps:
      - name: Checkout project
        uses: actions/checkout@v6

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}

      - name: Yarn
        run: yarn install --immutable

      - name: Build
        run: yarn build

      - name: Test
        run: yarn test
